#main-slider {
	margin: -0.5em 2% 60px;
}

.demo-title {
	text-align: center;
	margin: 0 0 1em 0;
}

.demo-slider {
	margin: 0em 2% 6em;
}

.demo-slider-2 {

	margin: 6em auto 20em;
	max-width: 600px;
	text-align: center;
}

.demo-slider-3 {
/*	margin: 0em auto 8em;*/
	max-width: 100%;
	text-align: center;
}

.demo-slider-4 {
	margin: 0em auto 6em;
	max-width: 60%;
}

.demo-slider-5 {
	margin: 0em auto 8em;
	max-width: 90%;
	text-align: center;
}

.demo-image {
	cursor: pointer;
	line-height: 0px;
	text-align: center;
	overflow: hidden;
}

.demo-image img {
	max-width: 90%;
	border:1px solid #ccc;
	padding: 5px;
	-moz-box-shadow:    1px 1px 5px #999;
  	-webkit-box-shadow: 1px 1px 5px #999;
  	box-shadow:         1px 1px 5px #999;
}

.demo-image-wrapper {
	display: block;
	position: relative;
}

.demo-image-overlay {
	cursor: pointer;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background:#333 url('images/zoomin.png') no-repeat center center;
	opacity: 0.01;
  	filter: alpha(opacity=1);
}

.demo-image-overlay:hover {
	opacity: 0.5;
  	filter: alpha(opacity=50);
}

.demo-image-mask {
	cursor: pointer;
	display: block;
	position:relative;
	width: 90%;
	height: auto;
	left: 5%;
	margin: 5px 0px;
}

.demo-image-mask p {
	color: #333;
	font-size: 16px;
	text-align: center;
	margin: 1em;
	line-height: 20px;
	font-family: 'Open Sans',Arial,sans-serif;
}

.demo-image-mask a {
	text-decoration: none;
	color: #333;
}

.demo-image-mask a:hover {
	color: #1982D1;
}


.demo-image-caption {
}